[Unit]
Description=Attempt This Online, a clone of Try It Online

[Service]
User=jd
# the + means the start script is run as root, even though the main service runs as the user jd
ExecStart=+/usr/local/bin/JD
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s
TimeoutStopSec=5s
Delegate=true

[Install]
WantedBy=multi-user.target
