volumes:
  images:
services:
  backend:
    # explicitly specify platform so this can work with Docker Desktop on ARM
    platform: linux/amd64
    build: .
    develop:
      watch:
        - path: ./target/x86_64-unknown-linux-gnu/debug/judgment
          action: sync+restart
          target: /usr/local/lib/JD/server
        - path: runners
          action: sync
          target: /usr/local/share/JD/runners
    volumes:
      - images:/mnt
    ports:
      - 8500:8500
    privileged: true
    cgroup: private
    command: setpriv --reuid jd --regid jd --init-groups /usr/local/lib/JD/server
